html, body {
  --color-aqua: rgb(0, 255, 255);
  --color-white: white;
  --color-gray-1: rgb(230, 230, 230);
  --color-gray-2: rgb(200, 200, 200);
  --color-gray-4: rgb(130, 130, 130);
  --color-gray-5: rgb(100, 100, 100);

  --background: rgb(0, 0, 0);
  --background-dark: rgb(26, 26, 26);
  --background-light: rgb(51, 51, 51);
  --background-aqua: var(--color-aqua);
  --background-yellow: rgb(217, 224, 33);
  --background-orange: orange;

  --text-color: white;
  --text-color-alternate: black;

  --tile-background-1: rgba(50, 50, 50, 1);
  --tile-background-2: rgba(50, 50, 50, 0);

  font-family: Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;

  background-color: var(--background);
}

#app {
  display: grid;
  grid-template-areas: "exhibit wall";
  grid-template-columns: 450px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

#app .exhibit {
  position: relative;
}

#app .exhibit .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--background-angle), var(--background-orange) 5%, var(--background-yellow) 20%, var(--background-aqua)) 70%;
}

#app .exhibit .pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/assets/pattern.svg');
}

#app .main {
  background: var(--background-dark);
  display: flex;
}